@charset "UTF-8";

h1 {
    font-family: 'Metal Mania', cursive;
    font-size: 30pt;
    position: absolute;
    top: 5px;
    left: 35px;
    color: rgb(108, 89, 201);
    text-shadow: 0px 0px 50px rgb(0, 102, 255);
}
nav#menu ul  {
    list-style: none;
    position: absolute;
    top: 0px;
    left: 850px;
}
nav#menu li {
    display: inline-block;
    border-bottom: 3px solid rgb(0, 102, 255);
    padding: 20px 0px 20px 0px;
    margin-left: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    transition: 0.3s;
}
nav#menu li:hover {
    font-size: 23pt;
    transition: 0.3s;
    text-shadow: 0px 0px 30px rgb(0, 102, 255);
    border-bottom: 4px solid rgb(34, 115, 236);
}
nav#menu li#menuselected {
    border-bottom: 4px solid rgb(4, 70, 170);
}
nav#menu a {
    text-decoration: none;
    color: black;
    cursor: url("../img/customcursor/Link-Select.png"), pointer;
}
body {
background-color: rgb(221, 221, 221);	
}
p#firsttext {
    position: absolute;
    top: 200px;
    left: 118px;
    font-size: 40pt;
    font-family: 'Montserrat', sans-serif;
    color:rgb(0, 102, 255);
    text-shadow: 0px 0px 10px rgb(108, 89, 201);
}
p#secondtext {
    position: absolute;
    font-size: 27pt;
    font-family: 'Montserrat', sans-serif;
    color:rgb(221, 19, 19);
    text-shadow: 0px 0px 10px rgb(108, 89, 201);
    top: 300px;
    left: 87px;
}
p#thirdtext {
    position: absolute;
    font-size: 27pt;
    font-family: 'Montserrat', sans-serif;
    color:rgb(26, 120, 241);
    text-shadow: 0px 0px 10px rgb(108, 89, 201);
    top: 750px;
    left: 115px;
}
p#fourthtext {
    position: absolute;
    font-size: 27pt;
    font-family: 'Montserrat', sans-serif;
    color:rgb(26, 120, 241);
    text-shadow: 0px 0px 10px rgb(108, 89, 201);
    top: 795px;
    left: 255px;
}
iframe#ytiframe {
    position: absolute;
    top: 400px;
    left: 358px;
    width: 500px;
    height: 300px;
}
button#btsubscribe {
    position: absolute;
    top: 715px;
    left: 563px;
    border: 3px solid rgb(199, 6, 6);
    border-radius: 4px;
    font-size: 18px;
    background-color: red;
    color: white;
}
a#btsub {
    color: white;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(13, 98, 255, 0.266);
}
/* custom cursor */
* {
    cursor: url("../img/customcursor/Normal-Select.png"), default;
}
p {
    cursor: url("../img/customcursor/Text-Select.png"), text;
}
button {
    cursor: url("../img/customcursor/Link-Select.png"), pointer;
}
a {
    cursor: url("../img/customcursor/Link-Select.png"), pointer;
}
h1 {
    cursor: url("../img/customcursor/Text-Select.png"), pointer;
}